<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>第六组浏览器主页</title>
  <link rel="stylesheet" href="css/style.css">
</head>


<body>
  <!-- <div id="Layer1" style="position:absolute; width:110%; height:110%; z-index:-1">   
        <img src="img/back.jfif" height="100%" width="100%"/>     -->
  <!-- </div>   -->
      <div id="login">
        <!-- 页面导航 -->
        <!-- <div class="nav">
          <a href="http://baidu.com" target="_blank">新闻</a> 
          <a href="https://image.baidu.com/">图片</a>
          <a href="https://finance.sina.com.cn/stock/">股票</a>
          <a href="https://zhidao.baidu.com/">问答</a>
          <a href="https://www.taobao.com/">购物</a>
      </div>  -->
        <h1><a class="index" href="index.html"><img src="img/logo.png"></a></h1>
        <div class="search">
        <form action="http://www.baidu.com/s" method="GET" target="_blank">
            <img src="img/百度.png" width= "60px" height="60px" alt="百度Logo" />
            <input type="text" name="wd" size="38" />
            <input type="submit" value="百度一下" style="width: 288px;height:40px"/>
            <input type="hidden" name="ie" value="utf-8" />
            <input type="hidden" name="tn" value="ace" />
        </form>

        <form action="http://www.bing.com/" method="GET" target="_blank">
          <img src="img/必应.jpg" width= "60px" height="60px" alt="必应Logo" />
          <input type="text" name="wd" size="38" />
          <input type="submit" value="必应" style="width: 288px;height:40px"/>
          <input type="hidden" name="ie" value="utf-8" />
          <input type="hidden" name="tn" value="ace" />
      </form>
      <form action="http://www.google.com/s" method="GET" target="_blank">
        <img src="img/谷歌.jpg" width= "60px" height="60px" alt="必应Logo" />
        <input type="text" name="wd" size="38" />
        <input type="submit" value="Google" style="width: 288px;height:40px"/>
        <input type="hidden" name="ie" value="utf-8" />
        <input type="hidden" name="tn" value="ace" />
      </div>
      <div class="alterBG">
        <input type="botton" name="自定义" style="">
      </div>
    </div>
</body>
</html>
